<div style="margin: 50px;"><span matBadge="3">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgeOverlap="false">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgePosition="below before">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgePosition="below after">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgePosition="above before">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgeSize="small">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgeSize="medium">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgeSize="large">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgeColor="primary">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgeColor="accent">Ersin Aydin</span></div>
<div style="margin: 50px;"><span matBadge="3" matBadgeColor="warn">Ersin Aydin</span></div>
<div style="margin: 50px;"><span [matBadge]="news" matBadgeOverlap="false" [matBadgeHidden]="news === 0">Ersin
        Aydin</span></div>