<button mat-button color="primary">Basic</button>
<button mat-raised-button color="primary">Basic</button>
<button mat-stroked-button color="primary">Basic</button>
<button mat-flat-button color="primary">Basic</button>

<button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
</button>
<button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
</button>
<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
</button>