<mat-accordion multi="true" hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Kursu</mat-panel-title>
            <mat-panel-description>Toplam Sure : 24</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Egitmen ersin aydin</p>
        <mat-action-row>
            <button mat-raised-button>Kaydol</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>React Kursu</mat-panel-title>
            <mat-panel-description>Toplam Sure : 24</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Egitmen ersin aydin</p>
        <mat-action-row>
            <button mat-raised-button>Kaydol</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>